name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        include:
          - os: windows-latest
            output_name: SourceBox.exe
            artifact_name: SourceBox-Windows
          - os: ubuntu-latest
            output_name: SourceBox
            artifact_name: SourceBox-Linux
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade "pyinstaller>=6.0.0"
        pip install -r requirements.txt
        pip install pillow
    
    - name: Build executable (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        pyinstaller --onefile --windowed --add-data "assets;assets" --exclude-module pkg_resources --collect-all OpenGL --icon=assets/images/sourcebox.png --name SourceBox Sourcebox.py
    
    - name: Build executable (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        pyinstaller --onefile --windowed --add-data "assets:assets" --exclude-module pkg_resources --collect-all OpenGL --icon=assets/images/sourcebox.png --name SourceBox Sourcebox.py
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact_name }}
        path: dist/${{ matrix.output_name }}
    
    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/${{ matrix.output_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}